* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  width: auto;
  height: 100%;
  margin: 0 auto;
  display: table-cell;
  text-align: center;
  top: 0;  left: 0;
  right: 0; bottom: 0;
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll;
-webkit-overflow-scrolling : touch;
}
#wrapper {
  width: 94%;
  margin: 0 auto;
  overflow: hidden;
}
table {width: 90%;}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  margin-right : auto;
  margin-left : auto;
}

script {style: text/javascript;}
textarea, #ttable {width: 70%;}
.ABpsg{font-size: 1.4em;}
.ABdisp{
  font-size: 1.3em;
  color: red;
}
#schedule td {
  padding: 3%;
}
#schedule td:nth-of-type(odd) { width: 25%; }
#schedule td:nth-of-type(even) {width: 75%; }
table#schedule tr:nth-of-type(odd) {
  background-color: #f0fff0;
}
table#schedule tr:nth-child(even){
  background-color: #f0ffff;
}
table#ttable td{ width: 43%; }
table#ttable td:nth-child(1){ width: 14%; }
select[name=tblclass] { font-size :1em; }
div#signature {
  font-size: 1em;
  text-align: right;
}
#jsmol { 
  margin: 0 auto;
}
.dummy {
  display: none;
}